---
import DashboardHeader from "@/modules/dashboard/composites/dashboard-header";
import DashboardTitle from "@/modules/dashboard/composites/dashboard-title";
import SideBar from "@/common/components/custom/side-bar/side-bar";
import RootLayout from "@/common/layouts/root-layout.astro";
import DataButtons from "@/modules/dashboard/composites/dashboard-data-buttons";

export const prerender = false;

interface Props {
  dashboardTitle: string;
}

const url = Astro.url;
const pathname = url.pathname;

const { dashboardTitle } = Astro.props;
---

<RootLayout title="Le-Insight | Dashboard">
  <main class="grid h-full grid-cols-[auto,_1fr] grid-rows-[auto,_1fr] bg-card">
    <SideBar
      client:load
      transition:persist
      pathname={pathname}
      className="w-full"
    />

    <DashboardHeader
      client:load
      transition:persist
    />

    <section class="h-full w-full pb-4 pr-4">
      <section
        class="h-full w-full space-y-6 overflow-x-auto rounded-xl bg-background p-6"
      >
        <section class="flex items-center justify-between">
          <DashboardTitle
            title={dashboardTitle}
            url={url}
          />

          <DataButtons />
        </section>

        <slot />
      </section>
    </section>
  </main>
</RootLayout>
