---
import DashboardHeader from "@/common/components/dashboard/dashboard-header";
import SideBar from "@/common/components/side-bar/side-bar";
import RootLayout from "./root-layout.astro";

const pathname = Astro.url.pathname;
---

<RootLayout title="Le-Insight | Dashboard">
  <main class="grid h-full grid-cols-[auto,_1fr] grid-rows-[auto,_1fr] bg-card">
    <SideBar
      client:load
      pathname={pathname}
      className="w-full"
    />

    <DashboardHeader client:load />

    <section class="h-full w-full pb-4 pr-4">
      <section
        class="h-full w-full space-y-6 overflow-x-auto rounded-xl bg-background p-6"
      >
        <slot />
      </section>
    </section>
  </main>
</RootLayout>
